{% extends 'base.html.twig' %}

{% block title %}Hello VenueController!{% endblock %}

{% block body %}
    <h1>Venues</h1>

    <a href="{{ path('venue_new') }}"
       class="btn btn-edit">
        add
    </a>
{% endblock %}
