{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ venue.name }}{% endblock %}

{% block body %}

    <h1>{{ venue.name }}</h1>

    <a href="{{ path('venue_delete', {'id': venue.id}) }}"
       class="btn btn-danger">
        delete
    </a>

{% endblock %}