{% extends 'base.html.twig' %}

{% block body %}
{#    <a href="{{ path('event_new') }}"#}
{#       class="btn btn-danger btn-sm">#}
{#        New event#}
{#    </a>#}
    {% include '@Calendar/calendar.html' %}
{% endblock %}
