{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ location.id }}</h1>

    <a href="{{ path('location_delete', {'id': location.id}) }}"
       class="btn btn-danger">
        Supprimer
    </a>
{% endblock %}

{% block title %}

{% endblock %}

