{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Add an artist{% endblock %}

{% block body %}
    <h1>Add an artist</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            add
        </button>
    </div>
    {{  form_end(form) }}
{% endblock %}