{% extends 'base.html.twig' %}

{% block title %}Hello RelationController!{% endblock %}

{% block body %}
    <h1>Relaltionss</h1>

    <a href="{{ path('relation_new') }}"
       class="btn btn-edit">
        add
    </a>
{% endblock %}
