{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% endblock %}

{% block body %}

    <h1>{{ contact.name }}</h1>

    <a href="{{ path('contact_delete', {'id': contact.id}) }}"
       class="btn btn-danger">
        delete
    </a>

{% endblock %}