{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% endblock %}

{% block body %}


    <h1>Tournée {{ tour.name }}</h1>

    {# TODO liste des dates de la tournée #}

    <a href="{{ path('tour_delete', {'id': tour.id}) }}"
       class="btn btn-danger">
        delete
    </a>

{% endblock %}