{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Your profil {% endblock %}

{% block body %}

    <h1 class="text-rose">{{ user.nickname }}</h1>
    <h2 class="text-gray">{{ user.email }}</h2>
    {#TODO Edit#}

{% endblock %}



